@use 'lib/vars' as *;
@use 'lib/mixins' as *;
@use 'partials/header';
@use 'partials/proyectos';
@use 'partials/contacto';
@use 'partials/footer';





*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    scrollbar-width: thin;
    -webkit-scrollbar-width: thin;
    overflow-x: hidden;
}

.app {
    width: 100%;
    height: 100%;
}





// Media Query para dispositivos móviles
@media (max-width: 768px) {
    header {
        width: 100vw;
        padding: .5rem 1rem;

        .header_center {
            .header_left {
                #titulo {
                    font-size: 20px;
                }

                .name {
                    font-size: .75rem;
                }
            }

            nav {
                display: none;

                ul {
                    li {}
                }
            }

            .icon_menu {
                display: block;

                i {
                    color: $color-primario;
                }
            }
        }

    }

    #proyectos{
        @include center-content;
    }
}



