@use 'lib/vars' as *;
@use 'lib/mixins' as *;
@use 'partials/header';






*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', Arial, sans-serif;
}





#proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;

    .proyecto {
        background: white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        padding: 15px;
        width: 300px;
        margin: 20px;
        text-align: center;

        img {
            width: 100%;
            border-radius: 10px;
            @include transition(opacity, 0.3s);

            &:hover {
                opacity: 0.5;
            }
        }

        h2 {
            &::first-letter {
                font-size: 24px;
                color: red;
            }
        }

        &:nth-child(3n) {
            background: lightgray;
        }

        &.destacado {
            background: $color-destacado;
        }
    }
}

#contacto {
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        max-width: 90%;
        max-width: $max-width-form;
        margin: auto;
        padding: 20px;

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .input-verde[type="email"] {
            border: 2px solid $color-borde-email;
        }

        textarea {
            &:focus {
                outline: 2px solid $color-focus-textarea;
            }
        }

        button {
            background: $color-hover;
            color: $color-texto;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


footer {
    background: url('textura.jpg') no-repeat center center;
    background-size: cover;
    height: 100px;
    @include center-content;
    text-align: center;

    p {
        text-decoration: underline red;
    }

    .mensaje-secreto {
        display: none;
    }

    #subir {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: $color-boton;
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 10;
    }
}


// Media Query para dispositivos móviles
@media (max-width: 768px) {
    header {
        padding: 10px;

        nav ul {
            li {
                display: block;
                margin: 10px 0;
            }
        }
    }

    #proyectos {
        flex-direction: column;
        align-items: center;
    }

    form {
        max-width: 100%;
        padding: 15px;
    }
}